<!DOCTYPE html>
<html lang="en">
{{> baseHead }}
<body>
  {{> siteHeader }}
  <div class="main" style="background-color: blue">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga saepe mollitia eos possimus sapiente unde beatae sequi dolor dolore, delectus nihil! Necessitatibus, saepe. Ratione iste, ad doloremque ducimus culpa. Repellendus asperiores ex illum doloremque magnam aperiam earum id illo, minus quam incidunt laborum nisi cumque explicabo quis fugit. Itaque at expedita qui voluptate saepe est blanditiis, odio sunt eaque nam velit! Maiores nihil ipsum, officia. Accusamus nesciunt et dolor reiciendis. Vero provident minus iusto officiis, suscipit eius molestiae, reprehenderit voluptatibus tenetur, iure ipsum dolorem. Tempora nesciunt quo mollitia ducimus, cumque sequi deserunt ratione, cum vitae ut ullam, saepe nostrum animi.
  </div>
  {{> siteFooter }}
</body>
</html>